
<ul class="timeline">
  <li>
    <div id="" class="desc hideme darker direction-l">
      <h4><small> 2019-01-01</small> Making my portfolio</h4> 
      <div class="row">
        <p class="col-sm-8">
          As a personal project I started designing and developing my own website. Programmed in Angular 7 using the JavaScript animation library called anime.JS.
        </p>
        <div class="col-sm-4">
          <img src="assets/img/puzzletowerVR/final.png" style="height: 100%; width: 100%;">          
        </div>
      </div>
    </div>
  </li>
  <div class="rellax direction-r" data-rellax-speed="7" style="color: black">
      I’m extra slow and smooth
    </div>
  <div class="rellax direction-l" data-rellax-speed="5" style="color: black">
    I’m extra slow and smooth
  </div>
  <li>
    <div id="" class="desc hideme darker direction-r">
      <h4>Puzzle Tower VR<small> 2017-12-01</small></h4> 
      <div class="row">
        <div class="col-sm-4">
          <img src="assets/img/puzzletowerVR/final.png" style="height: 100%; width: 100%;">
        </div>
        <p class="col-sm-8">
            In a group of 6 people, we developed the VR game for the game design course given at KTH, Stockholm. I was the lead graphics designer during the project but I also helped . It was developed in Unity and is used with HTC Vive. Since October 2018 the game is included in the exhibition "Play beyond play" at the Tekniska museet in Stockholm.
            See project Puzzle tower VR
        </p>
      </div>
    </div>
  </li>
  <div class="rellax direction-r" data-rellax-speed="1" style="color: black">
      I’m extra slow and smooth
    </div>
  
  <li>
    <div id="" class="desc hideme darker direction-l">
      <h4><small> 2019-01-01</small> Medias Branschdag 2017</h4>
      <div class="row">
          <p class="col-sm-8">
            As the webmaster 
          </p>
          <div class="col-sm-4">
            <img src="assets/img/MBD17.png" style="height: 100%; width: 100%;">          
          </div>
        </div>
    </div>
  </li>

  <li>   
    <div id="" class="desc hideme darker direction-r">
      <h4>Making my website <small> 2019-01-01</small></h4> 
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </li>
  <li>
    <div id="" class="desc hideme darker direction-l">
      <h4>Making my website <small> 2019-01-01</small></h4> 
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </li>


<!--<ul class="timeline">

    <li>
      <div class="direction-r">
        <span class="hexa"></span>
        <div id="" class="desc darker">
          <h4>Making my website <small> 2019-01-01</small></h4> 
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </li>
  
    <li>
      <div class="direction-l">
          <span class="hexa"></span>
          <div id="" class="desc darker">
            <h4>Making my website <small> 2019-01-01</small></h4> 
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
    </li>
  
    <li>
      <div class="direction-r">
          <span class="hexa"></span>
          <div id="" class="desc hideme darker">
            <h4>Making my website <small> 2019-01-01</small></h4> 
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
    </li>

    <li>
        <div class="direction-l">
            <span class="hexa"></span>
            <div id="" class="desc hideme darker">
              <h4>Making my website <small> 2019-01-01</small></h4> 
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
      </li>
    

      <li>
        <div class="direction-r">
            <span class="hexa"></span>
            <div id="" class="desc hideme darker">
              <h4>Making my website <small> 2019-01-01</small></h4> 
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
      </li>


    <li>
        <div class="direction-l">
            <span class="hexa"></span>
            <div id="" class="desc hideme darker">
              <h4>Making my website <small> 2019-01-01</small></h4> 
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
      </li>
    
      <li>
        <div class="direction-r">
            <span class="hexa"></span>
            <div id="" class="desc hideme darker">
              <h4>Making my website <small> 2019-01-01</small></h4> 
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
      </li>
  </ul>
-->