<!--
<div class="rellax" data-rellax-speed="3" style=" position: absolute; left: 25em; top: 20em;">
  <img  src="assets/img/puzzletowerVR/myfinal.png" style="height: 17em; width: auto;">          
  <p style="color:black; margin-top: -4em;">Iterations of logo</p>         
</div>
<div class="rellax"  data-rellax-speed="5" style="position: absolute; left: 5em; top: 17em;">
  <img src="assets/img/puzzletowerVR/1.png" style="height: 17em; width: auto; padding-top: 5em;">               
  <p style="color:black; margin-top:-1em;">First design</p>           
</div>

<div class="rellax"  data-rellax-speed="15" style="position: absolute; right: 35em; top: 2em;">
  <img src="assets/img/logo.png" style="height: 13em; width: auto; padding-top: 5em;">               
  <p style="color:black; margin-top:0em;">Final logo design</p>      
</div>

<div class="rellax"  data-rellax-speed="25" style="position: absolute; right: 15em; top: 2em;">
  <img src="assets/img/logo_old.png" style="height: 15em; width: auto; padding-top: 3em;">               
  <p style="color:black; margin-top:-3em; margin-left: 8em;">One design iteration</p>      
</div>

<div class="rellax" data-rellax-speed="3" style=" position: absolute; right: 25em; top: 44em;">
  <img  src="assets/img/MBD_swatch.svg" style="height: 8em; width: auto;">          
  <p style="color:black; margin-top: em;">Color swatches</p>         
</div>-->

<div id="" class="row desc hideme darker">
  <h4> Making my portfolio <small> 2019-01-01</small></h4> 
  <div class="row" >
    <div class="col-sm-4">
      <img src="assets/img/puzzletowerVR/final.png" style="height: 100%; width: 100%;">          
    </div>
    <p class="col-sm-3">
      As a personal project I started designing and developing my own website. Programmed in Angular 7 using the JavaScript animation library called anime.JS.
    </p>
    <div >
      <img  src="assets/img/logo.png" style="height: 8em; width: auto; padding-right: 2em; padding-left: 2em;">    
      <img src="assets/img/logo_old.png" style="height: 11em; width: auto; ">                    
    </div>
  </div>
</div>

<div id="" class=" row desc hideme darker">
  <h4>Puzzle Tower VR<small> 2017-12-01</small></h4> 
  <div class="row">
    <div class="col-sm-4">
      <iframe style="width: 100%; height: 200%" src="https://www.youtube.com/embed/E8m9Q219RHo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <p class="col-sm-3">
      In a group of 6 people, we developed the VR game for the game design course given at KTH, Stockholm. I was the lead graphics designer during the project but I also helped . It was developed in Unity and is used with HTC Vive. Since October 2018 the game is included in the exhibition "Play beyond play" at the Tekniska museet in Stockholm.
      <br>
      <small><a href="https://people.kth.se/~oliben/puzzletower/"> Link to website</a></small>                        
    </p>
    
    <div class="col-sm-4">
      <img src="assets/img/puzzletowerVR/myfinal.png" style="height: 12em; width: auto;padding-right: 2em; padding-left: 2em;">          
      <img  src="assets/img/puzzletowerVR/1.png" style="height: 10em; width: auto;">               <!-- class="rellax"  data-rellax-speed="7"-->
    </div>
  </div>
</div>


<div id="" class="desc hideme darker" style="margin-bottom: 3em;">
  <h4> Medias Branschdag 2017 <small> 2016-05-01  -  2017-11-1</small></h4>
  <div class="row">
    <div class="col-sm-4">
        <a href="http://www.mediasbranschdag.com/2017/#/"><img src="assets/img/MBD17.png" style="height: 100%; width: 100%;"></a>
    </div>
    <p class="col-sm-3">
      As the webmaster of <i>Medias Branschdag 2017, </i> I redesigned the previous website and applied new design trends, such as parallax effect, and remade the color scheme for the website. These changes gave the webpage a more cohesive and modern look that was informative and easy to navigate for both companies and the students.
      <br>
      <small><a href="http://www.mediasbranschdag.com/2017/#/"> Link to website</a></small>                    
    </p>
    <img class=""  src="assets/img/MBD_swatch.svg" style="height: 8em; width: auto;">      
  </div>
</div>

<!--
<ul class="timeline">
  <li>
    <div id="" class="desc hideme darker direction-l">
      <h4><small> 2019-01-01</small> Making my portfolio</h4> 
      <div class="row " >
        <p class="col-sm-8">
          As a personal project I started designing and developing my own website. Programmed in Angular 7 using the JavaScript animation library called anime.JS.
        </p>
        <div class="col-sm-4">
          <img src="assets/img/puzzletowerVR/final.png" style="height: 100%; width: 100%;">          
        </div>
      </div>
    </div>
  </li>
  <li>
    <div id="" class="desc hideme darker direction-r">
      <h4>Puzzle Tower VR<small> 2017-12-01</small></h4> 
      <div class="row">
        <div class="col-sm-4">
          <iframe style="width: 100%" src="https://www.youtube.com/embed/E8m9Q219RHo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p class="col-sm-8">
          In a group of 6 people, we developed the VR game for the game design course given at KTH, Stockholm. I was the lead graphics designer during the project but I also helped . It was developed in Unity and is used with HTC Vive. Since October 2018 the game is included in the exhibition "Play beyond play" at the Tekniska museet in Stockholm.
          See project Puzzle tower VR
        </p>
      </div>
      <small><a href="https://people.kth.se/~oliben/puzzletower/"> Link to website</a></small>                        
    </div>
  </li>
  
  <li>
    <div id="" class="desc hideme darker direction-l">
      <h4><small> 2016-05-01  -  2017-11-1</small> Medias Branschdag 2017</h4>
      <div class="row">
        <p class="col-sm-8">
          As the webmaster of <i>Medias Branschdag 2017, </i> I redesigned the previous website and applied new design trends, such as parallax effect, and remade the color scheme for the website. These changes gave the webpage a more cohesive and modern look that was informative and easy to navigate for both companies and the students.
        </p>
        <div class="col-sm-4">
            <a href="http://www.mediasbranschdag.com/2017/#/"><img src="assets/img/MBD17.png" style="height: 100%; width: 100%;"></a>
        </div>
      </div>
      <small><a href="http://www.mediasbranschdag.com/2017/#/"> Link to website</a></small>                  
    </div>
  </li>

  <li>   
    <div id="" class="desc hideme darker direction-r">
      <h4>Making my website <small> 2019-01-01</small></h4> 
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </li>
  <li>
    <div id="" class="desc hideme darker direction-l">
      <h4>Making my website <small> 2019-01-01</small></h4> 
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </li>
-->

<!--<ul class="timeline">

    <li>
      <div class="direction-r">
        <span class="hexa"></span>
        <div id="" class="desc darker">
          <h4>Making my website <small> 2019-01-01</small></h4> 
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </li>
  
    <li>
      <div class="direction-l">
          <span class="hexa"></span>
          <div id="" class="desc darker">
            <h4>Making my website <small> 2019-01-01</small></h4> 
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
    </li>
  
    <li>
      <div class="direction-r">
          <span class="hexa"></span>
          <div id="" class="desc hideme darker">
            <h4>Making my website <small> 2019-01-01</small></h4> 
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
    </li>

    <li>
        <div class="direction-l">
            <span class="hexa"></span>
            <div id="" class="desc hideme darker">
              <h4>Making my website <small> 2019-01-01</small></h4> 
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
      </li>
    

      <li>
        <div class="direction-r">
            <span class="hexa"></span>
            <div id="" class="desc hideme darker">
              <h4>Making my website <small> 2019-01-01</small></h4> 
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
      </li>


    <li>
        <div class="direction-l">
            <span class="hexa"></span>
            <div id="" class="desc hideme darker">
              <h4>Making my website <small> 2019-01-01</small></h4> 
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
      </li>
    
      <li>
        <div class="direction-r">
            <span class="hexa"></span>
            <div id="" class="desc hideme darker">
              <h4>Making my website <small> 2019-01-01</small></h4> 
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
      </li>
  </ul>
-->