.full{
/*
  height: 100%;
  min-height:100%;
  background-color: aqua;
  background-image: url(../../images/test.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}
.all{
  overflow-x: hidden;
  overflow-y: auto;
  background-color: antiquewhite
}

.welcome {
  height: 25em;


}
.element{
  shape-outside: circle(30%);
  transition: shape-outside 1s;
  float: left;
}

.element:hover{
  shape-outside: circle(50%);
}


.img-cut{
  shape-outside: url(../../assets/img/Linette.jpg);
  shape-image-threshold: 0.5;
  float: left;
}

.introText{
  margin-top: 5em;
  padding: 1em;
  background-color:rgba(0, 0, 0, 0.5);
}

.mySlides {
  height: 20em;
  width: auto;
}