<div class="">
<div class="all" >
<!--    <div class="rellax">
        I’m that default chill speed of "-2"
      </div>
      <div class="rellax" data-rellax-speed="7">
        I’m super fast!!
      </div>
      <div class="rellax" data-rellax-speed="-4">
        I’m extra slow and smooth
      </div>-->
  
  <div class="content-pad" >
    <div class="introText center-block">
      <div class="row" style="text-align: center">

        <div class="col-sm-offset-1 col-sm-3">
          <h2>Who am I?</h2>
          <p>I am a happy and energetic 23 year old who’s currently studying the Media Technology masters at KTH. I have always loved visual creativity and been painting and created sculptures since I was young. Because of this I have gained quite a bit of knowledge in Adobe Photoshop, Illustrator, Flash and Indesign. I have also forayed into 3D design with applications such as Zbrush and Maya. Eventually I started with CSS, and that is what started me on the path that led me to programming and the Media Technology program at KTH.</p>
        </div>    

        <div class="col-sm-4 " >
          <img class="" src="assets/img/Linette.jpg" alt="Linette Nilsson"  height="300" style="border-radius: 50%; ">  
          <br>
          <a id="linkedin" href="https://www.linkedin.com/in/linette-nilsson/" >LinkedIn</a>
        </div>

        <div class="col-sm-3">
          <h2>What do I do?</h2>
          <p>At KTH I have taken courses that have given me great fundamentals in Python, Matlab, HTML, JavaScript, PHP, XML, and CSS. To find a flow for my creativity I joined the student union newspaper in the fall of 2015 and I have been working as an illustrator and photographer for both the print and web editions. My proudest achievements are the cover of the first edition of OL 15/16 that was published in November of 2015, which reached a circulation of 16 000 students, and the exhibition of Puzzle Tower VR at the technical museum in Stockholm in autumn of 2018.</p>
        </div>

      </div>
    </div>
<!--
    <div class="">
      <div class="w3-content" >
        <div class="row">
          <div class="col-sm-2">
            <img class="demo w3-opacity w3-hover-opacity-off" src="assets/img/puzzletowerVR/myfinal.png" style="width:100%;cursor:pointer" (click)="currentDiv(1)">
          </div>
          <div class="col-sm-2">
            <img class="demo w3-opacity w3-hover-opacity-off" src="assets/img/puzzletowerVR/2.png" style="width:100%;cursor:pointer" (click)="currentDiv(2)">
          </div>
          <div class="col-sm-2">
            <img class="demo w3-opacity w3-hover-opacity-off" src="assets/img/puzzletowerVR/1.png" style="width:100%;cursor:pointer" (click)="currentDiv(3)">
          </div>
        </div>

        <div class="container">
          <img class="mySlides" src="assets/img/puzzletowerVR/myfinal.png" style="width:auto ;height: 500px; display:none">
          <img class="mySlides" src="assets/img/puzzletowerVR/2.png" style="width: auto; height: 500px;">
          <img class="mySlides" src="assets/img/puzzletowerVR/1.png" style="width: auto; height: 500px; display:none">
        </div>
      </div>

    </div>
  </div>
-->
</div>




<!--div class="full">
  <div class="row tilted-left" style="background-color: lavenderblush">
    <div class="col-sm-offset-1 col-sm-4 welcome" style="background-color: lightsteelblue">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <div class="col-sm-2" style="background-color: blue">
        asfdas
      </div>
    </div>
    <div class="col-sm-4" style="background-color: lightcoral">
        PICTURE
    </div>
  </div>


</div>-->

<!--
<div class="row">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>



<div class="row tilted-right" style="background-color: lavenderblush">
  <div class="col-sm-offset-1 col-sm-4 welcome" style="background-color: lightsteelblue">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <div class="col-sm-2" style="background-color: blue">
      asfdas
    </div>
  </div>
  <div class="col-sm-4" style="background-color: lightcoral">
    PICTURE
  </div>
</div>
-->


<!--

<div class="container">
    <div id="third" class="hideme">
        <p class=" " style=" background-color: azure">
            Är du ett företag? Klicka dig vidare här för att läsa mer om vilka vi på medieteknik är och vad en medietekniker sysslar med.
            Här hittar du också information om Branschdagspaketet och hur du kontaktar våra företagsrepresentanter!
        </p>
    </div>

    <div id="fourth" class="hideme">
        <p class=" " style="background-color: azure">
            Är du ett företag? Klicka dig vidare här för att läsa mer om vilka vi på medieteknik är och vad en medietekniker sysslar med.
            Här hittar du också information om Branschdagspaketet och hur du kontaktar våra företagsrepresentanter!
        </p>
    </div>

</div>
-->
</div>