
.all{
  overflow-x: hidden;
  overflow-y: auto;

}

.welcome {
  height: 25em;
}

.element{
  shape-outside: circle(30%);
  transition: shape-outside 1s;
  float: left;
}

.element:hover{
  shape-outside: circle(50%);
}


.img-cut{
  shape-outside: url(../../assets/img/Linette.jpg);
  shape-image-threshold: 0.5;
  float: left;
}

.introText{
  margin-top: 10em;
  padding: 1em;
  background-color:rgba(0, 0, 0, 0.7);
}

.mySlides {
  height: 20em;
  width: auto;
}

#linkedin{
  color: #f0a0a0;
}